@import './_base.scss';
* {
	margin:0;
	padding:0;
	border:0;
}
.app__container{
    display:flex;
    height: 10vh;
    // margin-top:60px;
}
.app__main{
    margin-top: 65px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: 0px !important;
}
.page__main{
    width: 1127px;
    margin-top: -1.6px;
    margin-left: -1.6px;
}
.page__header{
    background-color: rgb(173, 216, 252);
    width: 1127px;
    margin-top: -1.6px;
    margin-left: -1.6px;
}
@media (max-width: $breakpoint-medium) {
    .page__main{
        width:100%;
        margin-left:0px;
        padding: 0px !important
    }
    .page__header{
        width: 100%;
        margin-left:-9px;
        padding: 2px !important
    }
    .app__main{
        width:100%;
        margin-left:-65px;
    }
}