@import '../../_base.scss';

.page__body{
    width: 100%;
    
}
@media (max-width: $breakpoint-medium){
    .page__body{
        width: 100%;
        p{
            width:78%;
            text-align: justify;
        }
    }
}