@import '../../_base.scss';

.page__body{
    width: 100%;
    
}
.pagecard{
    margin-bottom: 15px;
    width:750px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pageevent {
    margin-bottom: 1rem;
    width: 750px;
    padding: 0.7rem;
    // margin-left: auto;
    // margin-right: auto;

    font-weight: 500;
    font-size: 0.9rem;

    cursor: pointer;
    &__top {
       margin-bottom: 0.5rem;
       position: relative;
       img {
           width: 100%;
           height:300px;
       } 
       span{
           position: absolute;
           bottom: 0.3rem;
           right: 0.3rem;
           padding: 0.2rem;
           background: #080808ec;
           border-radius: 3px;
       }
    }
    &__title {
        margin-bottom: 0.1rem;

        color: rgb(19, 18, 18);
        @include line-clamp(1);
    }

    &__details {
        display:flex;
        align-items:center;
        color: #000;
    }
    &__channel {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        img{
            width: 36px;
            height: 36px;
            border-radius:50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }
        p{
            margin-bottom: 0;
            color: #000;
        }
    }

}
.editButton{
    margin-left:auto;
    margin-right:auto;
}
.deleteButton{
    margin-left:50%;
    margin-right:auto;
}
@media (max-width: $breakpoint-medium){
    .page__body{
        width: 100%;
        p{
            width:78%;
            text-align: justify;
        }
    }
}

.modal-content {
    width: 620px !important;
}
